@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* font-family: 'Inter', sans-serif; */

:root{
    /* Primary theme */
    --Very-dark-blue-main-background: hsl(233, 47%, 7%);
    --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --Soft-violet-accent: hsl(277, 64%, 61%);

    /* Neutral theme */

    --White-main-heading-stats: hsl(0, 0%, 100%);
    --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
    background-color: var(--Very-dark-blue-main-background);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--White-main-heading-stats);
}

/* Typography */
.stats-header {
    font-family: 'Inter', sans-serif;
    font-size: clamp(2rem, 0.8864rem + 1.8182vw, 3.6rem);
    font-weight: 700;
    line-height: 2.4rem;
}

.stats-card span {
    color: var(--Soft-violet-accent);
}

.stats-details {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    opacity: 0.75;
}

.stats-value {
    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
}

.stats-des{
    padding-top: .3rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--Slightly-transparent-white-stat-headings);
}

/* X Typography */

/* Card */
.stats-container {
    width: 100%;
    min-height: 100vh;
    padding: 2.4rem;
    display: grid;
    place-items: center;
}

.stats-card {
    width: 100%;
    max-width: 37.5rem;
    height: auto;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid: 
        "img" min-content
        "stats-content" min-content / 1fr;
    justify-items: center;
    background-color: var(--Dark-desaturated-blue-card-background);
    border-radius: 0.8rem;
    overflow: hidden;
} 

.image-container {
    width: 100%;
    background-color: var(--Soft-violet-accent);
}

.image-container img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    opacity: 0.75;
}

.stats-content {
    width: 100%;
    padding: 2.6rem 2.6rem 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
    text-align: center;
}

.stats-info {
    padding-top: 1.8rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}
/* X Card */

@media screen and (min-width: 1200px) {
    /* Typography */
    .stats-header {
        font-weight: 700;
        line-height: 4rem;
    }
    
    .stats-details {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5rem;
        opacity: 0.75;
    }
    
    .stats-value {
        font-family: 'Inter', sans-serif;
        font-size: 2.4rem;
    }
    
    .stats-des{
        padding-top: .5rem;
        font-size: 1.4rem;
    }

    /* X Typography */

    /* Card */
    .stats-card {
        max-width: 111rem;
        grid: "stats-content img" min-content / 1fr 54.1rem;
    }

    .image-container {
        order: 2;
    }

    .stats-content {
        padding: 7.2rem 12.1rem 6.6rem 7.3rem;
        text-align: left;
        gap: 2.7rem;
    }

    .stats-content .stats-info {
        display: flex;
        flex-flow: row nowrap;
        gap: 8.7rem;
    }

    /* X Card */

    
}